In [2]:
print(a)
1
a = 4.0
print(a)
4.0
print(type(a))
<class 'float'>
b = -4
print(type(b))
<class 'int'>
c = '4'
print(type(c))
<class 'str'>
c = 'Hello world'
print(type(c))
<class 'str'>
d = True
print(type(d))
<class 'bool'>
print('hello world, my name is tushar')
hello world, my name is tushar
print
<function print(*args, sep=' ', end='\n', file=None, flush=False)>
print('hello world, my name is Tushar',flush = True)   # looks like it is typing  
hello world, my name is Tushar
print(print)
<built-in function print>
def sum(a, b):
    print(a+b)
    print(a)
sum(3,4)
7
3
a = sum(3,4)
7
3
print(a)
None
sum
<function __main__.sum(a, b)>
print(sum)
<function sum at 0x000002827C806020>
a = 2
b = 3
sum(a, b)
5
2
a = 323
id(a)
2759456503184
def memory(a):
    print("The value of the argument is = ", c)
    print("The memory address of a is = ",id(c) )
    print("The type of function :", type(c))
memory('1')

In [6]:
print(a)

4.0

In [5]:
a = 4.0

In [7]:
print(type(a))

<class 'float'>

In [8]:
b = -4
print(type(b))

<class 'int'>

In [9]:
c = '4'
print(type(c))

<class 'str'>

In [10]:
c = 'Hello world'
print(type(c))

<class 'str'>

In [11]:
d = True
print(type(d))

<class 'bool'>

In [12]:
print('hello world, my name is tushar')

hello world, my name is tushar

In [13]:
print

In [14]:
print(print)

<built-in function print>

In [15]:
def sum(a, b):
    print(a+b)
    print(a)

In [16]:
sum(3,4)

7
3

In [17]:
a = sum(3,4)

7
3

In [18]:
print(a)

None

In [19]:
sum

In [20]:
print(sum)

<function sum at 0x0000025B2B48AAC0>

In [21]:
a = 2
b = 3
sum(a, b)

5
2

In [22]:
a = 323

In [23]:
id(a)

2590607575504

In [24]:
def memory(a):
    print("The value of the argument is = ", c)
    print("The memory address of a is = ",id(c) )
    print("The type of function :", type(c))

In [25]:
memory('1')

The value of the argument is =  Hello world
The memory address of a is =  2590591415792
The type of function : <class 'str'>

In [26]:
c = '3'

In [27]:
ord(c)  #function for Ascii value

51

In [28]:
memory(sum)   #memory address of that sum function

The value of the argument is =  3
The memory address of a is =  140728666766576
The type of function : <class 'str'>

In [29]:
print(type(print))

<class 'builtin_function_or_method'>

In [30]:
id(print)

2590496760880

In [31]:
a = 10
aa = print

In [32]:
a()

TypeError: 'int' object is not callable

In [33]:
aa('Hello world')

Hello world

In [34]:
b = input
b('Enter the number : ')  # this b act as a variable now

Enter the number : 23

'23'

In [35]:
def summer(a,b):
    print(a+b)
    print(a)
    print(b)
    return (a + b),(a-b) #return the value of (a+b), (a-b) for future use.

In [36]:
summer(10,20)

30
10
20

(30, -10)

In [37]:
print(summer(10,20))

30
10
20
(30, -10)

In [38]:
def calc(a,b):
    return (a+b),(a-b),(a*b),(a/b)

In [45]:
def calc(a,b):
    return (a+b),(a-b),(a*b),(a/b)